.logo_position {
    position: relative;
}

.arrow_button{
    height: 25px;
    width: 25px;
    background-color:#fff;
    line-height: 25px;
    border: none;
    border-radius: 50%;
    text-align: center;
    margin: 10px 10px 0 0;
    font-weight: 700;
}

.left_arrow {
    height: 25px;
    width: 25px;
    background-color:#fff;
    line-height: 25px;
    border: none;
    border-radius: 50%;
    text-align: center;
    margin: 10px 10px 0 10px;
    font-weight: 700;
}